#----------- Terragrunt ------------
alias tg='terragrunt'
alias tgi='terragrunt init'
alias tgiu='terragrunt init -upgrade'
alias tgp='terragrunt plan'
alias tga='terragrunt apply'
alias tgd='terragrunt destroy'
alias tgout='terragrunt output'
alias tgfmt='terragrunt fmt'
alias tgval='terragrunt validate'
alias tgshow='terragrunt show'
alias tgstate='terragrunt state'
alias tgstlist='terragrunt state list'
alias tgstpull='terragrunt state pull'
alias tgiall='terragrunt run-all init -upgrade'
alias tgvall='terragrunt run-all validate'
alias tgfmtall='terragrunt run-all fmt'
alias tgpall='terragrunt run-all plan -out=plan.tfplan'
alias tgaall='terragrunt run-all apply plan.tfplan'
alias tgpa='terragrunt run-all plan -out=plan.tfplan && terragrunt run-all apply plan.tfplan -auto-approve'
alias tgdall='terragrunt run-all destroy'

